body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: black;
    color: rgb(173, 238, 216);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 95%;
    transition: border-color 0.2s;
    color: black;
    font-size: larger;
    padding: 10px 10px 10px 10px;
    margin: 20px 10px 10px 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 50px 0px 100px rgb(0, 233, 213), -60px 0px 100px rgb(127, 7, 224);
}


input:focus {
    border-color: #007BFF;
    outline: none;
}

input::placeholder {
    color: rgb(214, 177, 248);
}

button {
    background-color: rgb(214, 177, 248);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    color: black;
    font-size: larger;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: none;
    border-radius: 15px;
}

button:hover {
    background-color: rgb(214, 177, 248);
}

.video-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem, 2rem, 2rem, 2rem;
}

iframe {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: 50px 0px 100px rgb(0, 233, 213), -60px 0px 100px rgb(127, 7, 224);
}

@media screen and (max-width:875px) {
    iframe {
        width: 90vw;
    }
}