body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #ffffff;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

h1 {
    margin-bottom: 20px;
    color: #00ff9d88;
    font-size: 2.5rem;
}

input {
    width: 70%;
    transition: border-color 0.2s, box-shadow 0.2s;
    color: #333333;
    font-size: 1.2rem;
    padding: 12px 15px;
    margin: 20px 10px;
    border: 2px solid transparent;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(74, 144, 226, 0.5);
    background-color: #ffffff6c;
}

input:focus {
    box-shadow: 5px 0px 10px rgb(0, 253, 198), -5px 0px 10px rgb(0, 132, 255);
    outline: none;
    border-color: #4a90e2;
}

input::placeholder {
    color: #071a2970;
}

button {
    background-color: #4a90e2;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1.2rem;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 15px;
}

button:hover {
    background-color: #357ABD;
    transform: scale(1.05);
}

.video-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

iframe {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

@media screen and (max-width: 875px) {
    iframe {
        width: 90vw;
    }
}